In [3]:
# Para fazer "comentários" usamos o "#"!

In [7]:
# Há como utilizar operadores matemáticos no código (basic)

In [8]:
# Efetuando uma soma!
2 + 3

5

In [9]:
# Efetuando uma subtração
2 - 3

-1

In [10]:
# Efetuando uma multiplicação
2 * 3

6

In [13]:
# Testando erros. Por que está errado?
2 *

SyntaxError: invalid syntax (3632510636.py, line 2)

In [14]:
# Testando erros 
 2 * 3

IndentationError: unexpected indent (1658021825.py, line 2)

In [15]:
# Testando uma divisão
2 / 3

0.6666666666666666

In [16]:
# Testando módulo (resto da divisão)
2 % 3

2

In [17]:
# Testando a divisão por inteiros
23 // 6

3

In [18]:
# Denominador maior que numerador
4 // 19

0

In [19]:
4 % 9

4

In [21]:
# Testando Potência
2 ** 3

8

In [22]:
# Radiciação
36 ** (0.5) # 36 ** (.5), 36 ** (1/2)

6.0

In [23]:
# Mostrando mais de um resultado
2 % 20, 2 // 20, 2 / 20

(2, 0, 0.1)

In [24]:
# Calculando o ano de nascimento
2022 - 24

1998

In [27]:
# Utilizando variáveis
idade = 24 # --> '=' --> atribuição
ano = 2022

In [26]:
idade

24

In [28]:
# Operações com variáveis
ano - idade

1998

In [30]:
# Tipo de variáveis
# Inteiros: int
# String: str (textos)
#Boolean:  bool (Verdadeiro/Falso) --> True/False
#Float: float (decimais --> números em ponto flutuante)

In [31]:
# Inteiros
idade = 32

In [33]:
# Float
altura = 1.75

In [34]:
# String
nome = 'Samira'

In [35]:
nome

'Samira'

In [37]:
# Descobrindo tipo de variáveis: type(nome_da_variável)
type(nome), type(idade), type(altura)

(str, int, float)

In [38]:
# Lógica: Boolean --> True(verdadeir)/False (falso)
sentinela = True
sentinela, type(sentinela)

(True, bool)

In [39]:
# Comparações: 
# == (igual)
# != (diferente)
# > (maior que)
# >= (maior ou igual a)
# < (menor que)
# <= (menor ou igual a)

In [43]:
idade1 = 30
idade2 = 31

idade1 == idade2, idade1 != idade2, idade1 <= idade2

(False, True, True)

In [49]:
# Entrada de dados pelo teclado
nome = input('Digite seu nome: ')

Digite seu nome: Kaio

In [51]:
nome, type(nome)

('Kaio', str)

In [55]:
# Tratando dados recebidos pelo usuário --> Casting (mudança de tipo)
idade = int(input('Digite sua idade: '))
ano_atual = int(input('Digite o ano atual: '))

Digite sua idade: 20
Digite o ano atual: 2022

In [56]:
idade, type(idade), ano_atual, type(ano_atual)

(20, int, 2022, int)

In [57]:
ano_atual - idade

2002

In [58]:
# Explorando aspas simples e duplas
empresa = "Let's Code"
empresa

"Let's Code"

In [59]:
empresa = 'Let"s Code'

In [60]:
empresa

'Let"s Code'

In [15]:
citacao2 = "Onde você estuda? \"Na Let's Code\", respondeu"

In [16]:
print(citacao2)

Onde você estuda? "Na Let's Code", respondeu